@page "/ExpenseMonthly"
@using BlazorBootstrap
@using ToyAssist.Web.DatabaseModels.Models
@using ToyAssist.Web.Helpers
@using System.Text.Json;
@using System.Collections.Generic;
@using ToyAssist.Web.TypeExtensions;

<PageTitle>Assist Toy - Expense Monthly</PageTitle>

<div class="box" style="width:100%">
    <h2 style="padding:10px;">Expense Monthly</h2>
    <DateInfoHeader></DateInfoHeader>


    <div style="padding:15px; margin: 5px; max-width:580px; border:1px solid #ccc; border-radius:5px;">
        @for (int indexCurrencyGroup = 0; indexCurrencyGroup < ViewModel.CurrencyGroups.Count; indexCurrencyGroup++)
        {
            <div style="border:1px solid #ccc; border-radius:5px; margin:5px;">
                @{
                    var currencyGroup = ViewModel.CurrencyGroups[indexCurrencyGroup];
                }
                @for (int indexExpenseItem = 0; indexExpenseItem < currencyGroup.ExpenseItems.Count; indexExpenseItem++)
                {
                    var expenseItem = ViewModel.CurrencyGroups[indexCurrencyGroup].ExpenseItems[indexExpenseItem];
                    <div class="row" style="padding:10px; margin:5px; border: 0px groove white; border-radius:5px;">
                        <div class="col-6 box">
                            <span>@expenseItem.ExpenseName</span>

                        </div>
                        <div class="box col-6" style="text-align:right;">
                            <span>
                                @(GeneralHelper.FormattedAmount(@expenseItem.Amount, @currencyGroup?.Currency))
                            </span>
                        </div>
                    </div>

                    <hr style="border:1px solid #ccc;" />
                    @if (indexExpenseItem == currencyGroup.ExpenseItems.Count - 1)
                    {
                        <div class="row" style="padding:10px; margin:5px; border: 0px groove white; border-radius:5px;">
                            <div class="col-6 box">
                                <span style="font-weight:bold">
                                    Total
                                </span>
                            </div>
                            <div class="box col-6" style="text-align:right;">
                                <span style="font-weight:bold">
                                    @(GeneralHelper.FormattedAmount(@currencyGroup.TotalAmount, @currencyGroup?.Currency))
                                </span>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>