@page "/"
@using ToyAssist.Web.Helpers

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

    body {
        margin: 0;
        font-family: 'Roboto Condensed';
        color: whitesmoke;
        background-color: #1e1e1e;
    }

    .link-box {
        border: solid 1px rgba(0, 255, 94, 0);
        border-radius: 5px;
        padding: 4px;
        font-size: x-small;
        display: inline-block;
    }

    .box {
        /*  border: solid 1px #0000ff5e;
                border-radius: 5px;
                padding: 4px;
                display: inline-block; */
    }

</style>

<PageTitle>Assist Toy</PageTitle>

<h1>Expense setup</h1>
<div class="row">
    <div class="col-12 box">
        <div class="row" style="padding: 5px;">
            <div class="col-8 box">
                <span style="border: 1px solid #ccc; padding: 6px; border-radius:5px;">
                    <span>
                        Today:
                    </span>
                    <span style="font-weight: bold">
                        @DateTime.Now.ToString("yyyy-MM-dd, MMMM, dddd")
                    </span>
                </span>
                <span style="margin-left:10px; border: 1px solid #ccc; padding: 6px; border-radius:5px;">
                    <span>
                        Week number:
                    </span>
                    <span>
                        @GeneralHelper.GetCurrentWeekNumber(DateTime.Now)
                    </span>
                </span>

            </div>

            <div class="col-3 box">
            </div>
        </div>
    </div>
</div>
<div style="padding:5px; margin: 5px; border:1px solid #ccc; border-radius:5px">
    <div class="row">
        <div class="col-4 box" style="font-weight:bold">Detail</div>
        <div class="col-3 box" style="text-align:right;font-weight:bold;max-width: 250px">Amount</div>
        <div class="col-2 box" style="font-weight:bold">Bill Generation</div>
        <div class="col-2 box" style="font-weight:bold">Payment</div>
        <div class="col-1 box" style="font-weight:bold"></div>
    </div>

    <hr />
    @{
        var currencyGroups = ExpenseSetups.GroupBy(x => x.Currency).Select(currencyGroup => new { currencyGroup }).ToList();
    }
    @foreach (var currencyGroupItem in currencyGroups)
    {
        var expenseSetupsByCurrency = ExpenseSetups.Where(x => x.CurrencyId == currencyGroupItem.currencyGroup.Key?.CurrencyId).ToList();
        @foreach (var (expenseSetup, index) in expenseSetupsByCurrency.Select((value, i) => (value, i)))
        {
            <div class="row" style="padding: 6px;">
                <div class="col-4 box">@expenseSetup.ExpenseName</div>
                <div class="col-3 box" style="text-align: right;; max-width: 250px">
                    <div class="row">
                        <div class="col-12">
                            @expenseSetup.Amount @currencyGroupItem.currencyGroup.Key?.CurrencyCode
                        </div>
                    </div>
                    @if (index == expenseSetupsByCurrency.Count - 1)
                    {
                        <div class="row">
                            <div class="col-12" style="color:#808080a6;">
                                <hr />
                                <div style="border: 2px solid rgba(204, 204, 204, 0.8); padding: 3px; border-radius: 3px">
                                    <div>
                                        <span>
                                            Total:
                                        </span>
                                        <span style="font-weight: bold">
                                            @expenseSetupsByCurrency.Sum(x => x.Amount) @currencyGroupItem.currencyGroup.Key?.CurrencyCode
                                        </span>
                                    </div>
                                    @* <div>
                        ≈
                        @foreach (var conversionItem in GetConversionList((int)@groupItem.g.Key, @itemFiltered.Sum(x => (int)x.Amount)))
                        {
                        <div style="font-size: small; border: 1px solid #ccc; margin-left: 2px; padding: 2px; display: inline-block; border-radius: 4px;">
                        @conversionItem
                        </div>
                        }
                        </div> *@
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-2 box">
                    @if ((expenseSetup.BillGeneratedDay ?? 0) != 0)
                    {
                        <span>
                            @expenseSetup.BillGeneratedDay
                        </span>
                        <sup>
                            @(GeneralHelper.GetOrdinalSuffix(((int)expenseSetup.BillGeneratedDay)))
                        </sup>
                        <span>
                            of every month
                        </span>
                    }
                </div>
                <div class="col-2 box">
                    @if ((expenseSetup.BillPaymentDay ?? 0) != 0)
                    {
                        <span>
                            @expenseSetup.BillPaymentDay
                        </span>
                        <sup>
                            @(GeneralHelper.GetOrdinalSuffix(((int)expenseSetup.BillPaymentDay)))
                        </sup>
                        <span>
                            of every month
                        </span>
                    }
                </div>
                <div class="col-1 box">
                    @if (!string.IsNullOrEmpty(expenseSetup.PaymentUrl))
                    {
                        <a href="@expenseSetup.PaymentUrl" target="_blank" class="link-box">Payment</a>
                    }
                    @if (!string.IsNullOrEmpty(expenseSetup.PaymentUrl))
                    {
                        <a href="@expenseSetup.AccountProfileUrl" target="_blank" class="link-box"> Account</a>
                    }
                </div>
            </div>

        }
    }
</div>
